.popup__container {
    min-width: 430px;
    min-height: 330px;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
}

@media (max-width: 560px) {
    
    .popup__container {
        min-width: 282px;
        min-height: 322px;
        margin-top: 26px;
    }
}