.photo__icon {
    min-width: 22px;
    min-height: 19px;
    margin: 0;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 14px;
    padding: 0;
    background-image: url(../../../images/heart.svg);
    background-size: cover;
    background-color: white;
    border: none;
    cursor: pointer;
}

.photo__icon:hover {
    opacity: 0.5;
}