.popup__close {
    min-width: 26px;
    min-height: 26px;
    margin: 0;
    padding: 0;
    background-image: url(../../../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    align-self: flex-end;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (min-width: 768px) {

    .popup__close {
    background-image: url(../../../images/Closelittle.svg);
    min-width: 48px;
    min-height: 48px;
  }
}