.popup__cross {
    position: absolute;
    min-height: 40px;
    min-width: 40px;
    margin: 0;
    margin-left: 434px;
    padding: 0;
    background-image: url(../../../images/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popup__cross:hover {
    opacity: 0.5;
}


@media (max-width: 560px) {

    .popup__cross {
        top: 110px;
        margin-left: 254px;
        min-width: 26px;
        min-height: 26px;
    } 
}