.popup__cross {
    min-height: 40px;
    min-width: 40px;
    background-image: url(../../../images/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border: none;
    cursor: pointer;
    position: absolute;
    top: calc(100vh - 88%);
    left: calc(100vw - 33%);
}

.popup__cross:hover {
    opacity: 0.5;
}